<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>unlimited_access_ar_1w_new</string>
	<string>unlimited_access_ar_1m_new</string>
	<string>unlimited_access_ar_3m</string>
	<string>unlimited_access_ar_6m</string>
	<string>unlimited_access_ar_12m</string>
</array>
</plist>
